<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_Uiy0LwItw6u0s0uqlEYZuMEAEKk1oaE</string>
	<key>GCM_SENDER_ID</key>
	<string>266232354357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaravsna.Day-Out</string>
	<key>PROJECT_ID</key>
	<string>day-out-5e917</string>
	<key>STORAGE_BUCKET</key>
	<string>day-out-5e917.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266232354357:ios:acd01100f59be621ea037c</string>
</dict>
</plist>